# ---- Vim / Neovim ----
*.swp
*.swo
*.swn
*~

# ---- Emacs ----
*~
\#*\#
.\#*

# ---- VSCode ----
.vscode/
.history/

# ---- Nix ----
# Результаты сборки nix-build
result
result-*
# NixOS временные линки
.nix-*
# Директория nix-shell окружений
.shell/
# Кэш Nix
.cache/
.direnv/

# ---- Python ----
__pycache__/
*.py[cod]
*.pyo

# ---- Logs ----
*.log

# ---- System ----
.DS_Store
Thumbs.db
ehthumbs.db

# ---- Virtualization ----
*.vdi
*.vbox
*.vbox-prev
*.vmdk
*.qcow2
*.img
*.ova

# ---- Other temporary files ----
*.tmp
*.bak
*.old
